svg {
  border: 1px solid black;
  width: 400px;
  height: 400px;
}

svg * {
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
svg path {
  transform-origin: 50% 50%;
  animation: snow-fall 5s infinite linear;
}

/* ROTATE HAS TO COME SECOND  */
@keyframes snow-fall {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  100% {
    transform: translate(800px, 0) rotate(360deg);
  }
}
